{% extends 'base.html'%}
{%load static%}
{% block title%}Booking Confirmation

{%endblock%}

{% block content %}

<div class='confirmation-bg'>
    <div class="container text-center">
   <div class="heading-bg2 ">
           <br>
          <h2>Booking Confirmation✅</h2>
          <br>
        </div>
        <br>
        <br>
        <hr>
        <div class="alert alert-info" role="alert">
           We have recieved your Appointment request, our representative will call you shortly.
        </div>
     <hr>
    </div>
</div>
{%endblock%}